<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Room</title>
    <link rel="stylesheet" href="/static/css/create.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="header-band">
        <h2 class="title">Groupie Tracker</h2>
    </div>
    <form id="room-form" method="POST" action="/addroom">
        <label for="name">Room Name:</label><br>
        <input type="text" id="name" name="name"><br>
    
        
        <label for="maxPlayer">Max Player:</label><br>
<input type="text" id="max_Player" name="max_player"><br>
        <input type="submit" value="Submit">
    </form>
  
    <script src="main.js"></script>
</body>
</html>