<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/createroom.css">
</head>
<body>
    <div class="header-band">
        <h2>Create or Join a Room</h2>
    </div>
    <div class="button-container">
        <a href="/create" id="create-button" class="button">CREATE</a>
        <a href="/join" id="join-button" class="button">JOIN</a>
    </div>
    <script src="/static/js/createroom.js"></script>
</body>
</html>