<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie - Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<script src="/static/js/main.js"></script>
<body>
    <div class="header-band">
        <h2>Welcome back !</h2>
    </div>
    <login-body>
        <div class="container">
            <h1 class="title">Login</h1>
            <form action="/login" method="post">
                <div class="form-group">
                    <label class="logt" for="identifier">Email or Pseudo :</label>
                    <input type="text" name="identifier" id="identifier" required><br>
                </div>

                <div class="form-group">
                    <label class="logt" for="password">Mot de passe :</label>
                    <div class="input-button-container">
                        <input type="password" name="password" id="password" required>
                        <button type="button" onclick="togglePasswordVisibility('password')">👁️</button>
                    </div>
                </div>

                <button type="submit" class="btn">Connect</button>
            </form>
        </div>
    </login-body>
</body>
</html>